* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	color: #666;
	font-family: sans-serif;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	height: 100%;
	min-height: 100vh;
}

header {
	background-color: silver;
	color: #fff;
	-webkit-box-flex: 0;
	-webkit-flex: none;
	-ms-flex: none;
	flex: none;
}

header h1 {
	margin: 0.5em;
	font-size: 2em;
	text-align: center;
}

main {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 1.5em;
}

ul {
	list-style-type: none;
}

/*start game*/

.startGame {
	display: flex;
	flex-direction: column;
	align-items: center;
}

#startGameBtn {
	margin: 2em 0;
	font-size: 1em;
	background-color: rgb(139, 204, 139);
	width: 12em;
	height: 4em;
}


/*random word board*/

#selected-word {
	display: flex;
	justify-content: center;
}

#letterBoxes input {
	border: 1px solid #666;
	color: #666;
	font-size: 1.2em;
	font-weight: bold;
	margin: 1em 0.2em;
	padding: 0.4em 0;
	text-transform: uppercase;
	text-align: center;
	width: 1em;
}


/*hangman pictures and mistakes board*/

.container {
	display: flex;
	align-items: center;
	gap: 1.8em;
}

#hangman {
	width: 50%;
}

.wrongChoices {
	font-size: 1em;
	color: red;
}
.wrongChoices > p {
	margin-bottom: 1em;
}
.wrongChoices span {
	font-size: 1.5em;
	font-weight: bold;
}


/*alphabet board*/

#gameBoard {
	padding: 1.5em;
}

#letterButtons {
	display: flex;
	list-style-type: none;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
}

#letterButtons button:not(last-child) {
	margin: 4px 4px;
	cursor: pointer;
	max-width: 84px;
	min-width: 60px;
}

#last {
	margin-right: auto;
}

.btn {
	user-select: text;
	background-color: #fff;
	background: transparent;
	border-radius: 6px;
	border: 0;
	border: 2px solid #666;
	color: #666;
	cursor: pointer;
	display: block;
	font: inherit;
	line-height: normal;
	margin-bottom: 16px;
	margin: 0;
	overflow: visible;
	padding: 0;
	padding: 10px;
	text-decoration: none;
	text-transform: uppercase;
}

.btn::-moz-focus-inner {
	padding: 0;
	border: 0;
}

.btn--stripe {
	overflow: hidden;
	position: relative;
}

.btn--stripe:after {
	content: "";
	display: block;
	height: 7px;
	width: 100%;
	background-image: -webkit-repeating-linear-gradient(
		45deg,
		#666,
		#666 1px,
		transparent 2px,
		transparent 5px
	);
	background-image: repeating-linear-gradient(
		45deg,
		#666,
		#666 1px,
		transparent 2px,
		transparent 5px
	);
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	border-top: 1px solid #666;
	position: absolute;
	left: 0;
	bottom: 0;
	background-size: 7px 7px;
}

.btn--stripe:disabled {
	background-color: #999;
	color: #fff;
	border-color: #666;
}

.btn--stripe:hover {
	background-color: #666;
	color: #fff;
	border-color: #000;
}

.btn--stripe:disabled:after,
.btn--stripe:hover:after {
	background-image: -webkit-repeating-linear-gradient(
		45deg,
		#fff,
		#fff 1px,
		transparent 2px,
		transparent 5px
	);
	background-image: repeating-linear-gradient(
		45deg,
		#fff,
		#fff 1px,
		transparent 2px,
		transparent 5px
	);
	border-top: 1px solid #000;
}


/*footer part*/

footer p {
	background-color: silver;
	border-top: 1px solid #666;
	margin-top: 20px;
	padding: 30px 0;
	color: #fff;
	font-size: 1.25em;
	width: 100%;
	flex: none;
	text-align: center;
}

/*responsive*/

@media screen and (min-width: 800px) and (max-width: 1920px) {
	.btn {
		padding: 16px 36px 22px;
	}

	.startGame {
		flex-direction: row;
		margin-right: auto;
		gap: 10em;
	}

	.container {
		align-items:flex-start;
		margin: 3em auto 3em 2em;
		gap: 15em;
	}

	#letterBoxes input {
		font-size: 1.5em;
		line-height: 2em;
		padding: 20px 5px;
		width: 2em;
	}

	#startGameBtn {
		width: 15em;
	}

	.wrongChoices {
		font-size: 1.3em;
		font-variant-caps: small-caps;
	}
	
	footer p {
		text-align: right;
		padding-right: 1em;
	}
}
